<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Blocitoff</h1>
  <p>A To-Do list for cats.</p>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">An educational project by <a href="http://www.natepauzenga.com">Nate Pauzenga</a></p>
  </div>
</footer>
