<section class="welcome">
  <h1>Get stuff done</h1>
  <p>
    Blocitoff is a self-destructing to-do list to keep<br> you focused
    on the things that matter
  </p>
  <button onclick="window.location.href='./sign_up'">Sign Up Now</button>
</section>


