<section class="welcome">
  <h1>Get stuff done</h1>
  <p>
    Blocitoff is a self-destructing to-do list to keep<br> you focused
    on the things that matter
  </p>
  <button class="sign_up_btn" onclick="window.location.href='./sign_up'">Sign Up Now</button>
  <button class="sign_in_btn" onclick="window.location.href='./sign_in'">Sign In</button>
</section>


