<section class="welcome">
  <h1>Get stuff done</h1>
  <p>
    Blocitoff is a self-destructing to-do list to keep<br> you focused
    on the things that matter
  </p>
  <button type="button">Sign Up Now</button>
</section>

<%# <div>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> %>
