<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<div class="todo-form">
  <%= form_for [user, todo], remote: true do |form| %>
      <%= form.text_field :description, placeholder: "Create Todo" %>
    <div class="hidden">
      <%= form.submit "Save" %>
    </div>
  <% end %>
</div>
