<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<%= form_for [user, todo] do |form| %>
  <%= form.text_field :description, placeholder: "Description" %>
  <%= form.submit "Save" %>
<% end %>
