<%= content_tag :div, class: "todo-container clearfix", id: "todo-#{todo.id}" do %>
  <%= link_to "", todo, method: :delete, remote: true, class: "todo-checkbox" %>
  <div class="todo-description">
    <%= todo.description %>
  </div>
  <div class="todo-days-left">
    (<%= todo.days_left %> days left)
  </div>
<% end %>
