/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:600);

@media (min-width: 640px) {}
@media (min-width: 1024px) {}

body {
  background-image: image-url("bg.jpg");
}

.navbar {
  position: relative;
  padding: 0.5rem;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.navbar .logo {
  position: relative;
  left: 3rem;
}

.navbar img {
  max-width: 200px;
}

.navbar .links-container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 61px;
}

.links-container .navbar-link {
  display: table-cell;
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 100%;
  text-transform: lowercase;
  vertical-align: middle;
}

.navbar-link a {
  text-decoration: none;
  color: #14d8b2;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

.footer .credits {
  margin-bottom: 1rem;
}

.footer .by-line {
  margin-bottom: 0.3rem;
}
